<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Teacher</title>
</head>
<body>
  <h1>Add new teacher page!</h1>

  <form action="#"  th:action="@{/gradebook/teachers/add}" th:object="${teacher}" method="post">
      <p>Teacher ID is:
          <input type="text" th:value="${teacher.getId()}">
      </p>
      <p>Teacher name:
          <input type="text" th:value="${teacher.getName()}" th:field="*{name}">
      </p>
      <p>Teacher last name:
          <input type="text" th:value="${teacher.getLastName()}" th:field="*{lastName}">
      </p>
      <p>Teacher subject name:
          <input type="text" th:value="${teacher.getSubjectName()}" th:field="*{subjectName}">
      </p>

      <div>
          <input type="submit" value="Save teacher">
      </div>
  </form>

  <a href="/gradebook/teachers" role="button">Back to teachers list</a>
</body>
</html>
