<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gradebook journal</title>
</head>
<body>
    <h3>This is index page!</h3>
    <h4 th:text="'number of theachers: ' + ${listOfTeachers.size()}">reload live!</h4>

    <table>
        <tr th:each="teacher : ${listOfTeachers}">
            <td th:text = "${teacher.getId()}"></td>
            <td th:text = "${teacher.getName()}"></td>
            <td th:text = "${teacher.getLastName()}"></td>
            <td th:text = "${teacher.getSubjectName()}"></td>
        </tr>
    </table>

    <br>
    <a href="/gradebook/teachers/add" role="button">Add teacher</a>
</body>
</html>
