<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
</head>
<body>
  <h1>Update student page!</h1>

  <form action="#"  th:action="@{/gradebook/students/{id}/update(id=${dto.getId()})}" method="post">
      <p th:text="'Student ID is: ' + ${dto.getId()}"> </p>
      <p>Student name:
          <input type="text" th:value="${dto.getName()}" th:field="*{dto.name}">
      </p>
      <p>Student last name:
          <input type="text" th:value="${dto.getLastName()}" th:field="*{dto.lastName}">
      </p>
      <p>Student exams:
<!--          ToDo think about exams array-->
<!--          <input type="text" th:value="${student.getExams()}" th:field="*{exams}">-->
      </p>
      <p>Group:
<!--          if group == null-->
          <select th:field="*{dto.groupId}" th:if="${dto.getGroupId()} == null">
              <option value="">--Please choose a teacher--</option>
              <option th:each="group : ${groups}" th:text = "${group.getName()}" th:value="${group.getId()}" ></option>
          </select>
<!--          if group != null-->
          <select th:field="*{dto.groupId}" th:unless="${dto.getGroupId()} == null">
              <option th:each="group : ${groups}"
                      th:text = "${group.getName()}"
                      th:value="${group.id}"
                      th:selected="${dto.getGroupId()} == ${group.getId()}">
              </option>
          </select>
      </p>
      </p>

      <div>
          <input type="submit" value="Save student">
      </div>
  </form>

  <a href="/gradebook/students" role="button">Back to students list</a>
</body>
</html>
