<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Group Page!</title>
</head>
<body>
  <h1>It's view group page!</h1>

  <p th:text="'Group ID is: ' + ${group.getId()}"> </p>
  <p th:text="'Group name: ' + ${group.getName()}"> </p>
  <p th:text="'Teacher: ' + ${group.getTeacher().getName()} + ' ' + ${group.getTeacher().getLastName()}"
     th:unless="${group.teacher} == null">
  </p>
  <p>Students:
  <ul th:each="student : ${group.getStudents()}" th:text="${student.getName()} + ' ' + ${student.getLastName()}"></ul>
  </p>

  <a href="/gradebook/groups" role="button">Back to group list</a>
  <a href="/gradebook/groups/add" role="button">Add group</a>
</body>
</html>
