<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Group Exams Page!</title>
</head>
<body>
  <h1>It's view group exams page!</h1>

  <p th:text="'Group ID is: ' + *{group.id}"> </p>
  <p th:text="'Group name: ' + *{group.name}"> </p>
  <p th:text="'Teacher: ' + *{group.getTeacher().id} + ' ' + *{group.getTeacher().name} + ' ' + *{group.getTeacher().lastName}"
     th:unless="${group.getTeacher().id} == null">
  </p>
  <p>Students:</p>
  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>Name</th>
        <th th:each="date : ${dates}" th:text="${date}"></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="student : ${students}">
        <td th:text="${student.getKey().split(' ')[0]}"></td>
        <td th:text="${student.getKey().split(' ')[1]}"></td>
        <td th:each="grade : ${student.getValue().values()}" th:text="${grade}"></td>
      </tr>
    </tbody>
  </table>
  <a href="/gradebook/groups" role="button">Back to group list</a>
  <a href="/gradebook/groups/add" role="button">Add group</a>
</body>
</html>
