<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Group Exams Page!</title>
</head>
<body>
  <h1>It's view group exams page!</h1>

  <p th:text="'Group ID is: ' + *{group.id}"> </p>
  <p th:text="'Group name: ' + *{group.name}"> </p>
  <p th:text="'Teacher: ' + *{group.getTeacher().id} + ' ' + *{group.getTeacher().name} + ' ' + *{group.getTeacher().lastName}"
     th:unless="${group.getTeacher().id} == null">
  </p>
  <p>Students:
    <table>
      <thead>
        <tr>
          <th>Last Name</th>
          <th>Name</th>
          <th>Grade</th>
          <th>Last Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="student : ${group.getStudents()}">
          <td th:text="${student.getLastName()}"></td>
          <td th:text="${student.getName()}"></td>
          <td th:each="exam : ${student.getExams()}" th:text="${exam.getDate().toString()} + ' ' + ${exam.getGrade()}"></td>
          <td th:text="${student.getExams().size()}"></td>
        </tr>
      </tbody>
    </table>
  </p>

  <a href="/gradebook/groups" role="button">Back to group list</a>
  <a href="/gradebook/groups/add" role="button">Add group</a>
</body>
</html>
