<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Teacher Page!</title>
</head>
<body>
  <h1>It's view teacher Page!</h1>

  <p th:text="'Teacher ID is: ' + ${teacher.getId()}"></p>
  <p th:text="'Name: ' + ${teacher.getName()}"></p>
  <p th:text="'Surname: ' + ${teacher.getLastName()}"></p>
  <p th:text="'Subject: ' + ${teacher.getSubjectName()}"></p>
  <p>Groups:
    <ul th:each="group : ${teacher.getGroups()}" th:text="${group.getName()}"></ul>
  </p>

  <a href="/gradebook/teachers" role="button">Back to teachers list</a>
  <a href="/gradebook/teachers/add" role="button">Add teacher</a>
</body>
</html>
