<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Student Page!</title>
</head>
<body>
  <h1>It's view student page!</h1>

  <p th:text="'Student ID is: ' + ${student.getId()}"></p>
  <p th:text="'Name:' + ${student.getName()}"></p>
  <p th:text="'Surnamr' + ${student.getLastName()}"></p>
  <p>
      Student exams:
      <!--  ToDo fix view then exams are empty or null -->
<!--      <input type="text" th:value="${student.getExams()}">-->
  </p>
  <p>
      Student group:
      <!--  ToDo fix view then group is empty or null -->
<!--      <input type="text" th:value="${student.getGroup().getName()}">-->
  </p>
</body>
</html>
